/node_modules/
**/node_modules/

pnpm-lock.yaml
package-lock.json

.next/
**/.next/
dist/
**/dist/
out/
**/out/

.env
.env.local
**/.env
**/.env.local

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/
*.swp

**/*.tsbuildinfo
**/types/**/*.d.ts

**/mf-manifest.json
**/static/chunks/mf-manifest.json
**/node_modules/.federation/

coverage/
**/coverage/
.jest/
**/.jest/

*.log
*.bak
*.tmp
